{% extends 'base.html.twig' %}

{% block title %}Cross Golf{% endblock %}

{% block body %}
    <h1>Creer un nouveau trou</h1>

    {{ include('hole/_form.html.twig') }}

{% if app.user %}
        <li><a href="/shot/new">nouveau coup</a></li>
        <li><a href="/">retour accueil</a></li>
        <li><a href="{{ path('course_index') }}">liste</a></li>
    {% else %}
        <li><a href="{{ path('course_index') }}">liste</a></li>
        <li><a href="/">retour accueil</a></li>
    {% endif %}

{% endblock %}
