{% extends 'base.html.twig' %}

{% block title %}New Hole{% endblock %}

{% block body %}
    <h1>Create new Hole</h1>

    {{ include('hole/_form.html.twig') }}

    <a href="{{ path('hole_index') }}">back to list</a>
{% endblock %}
