{% extends 'base.html.twig' %}

{% block title %}Edit Shot{% endblock %}

{% block body %}
    <h1>Edit Shot</h1>

    {{ include('shot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('shot_index') }}">back to list</a>

    {{ include('shot/_delete_form.html.twig') }}
{% endblock %}
