{% extends 'base.html.twig' %}

{% block title %}Cross Golf{% endblock %}

{% block body %}
    <h1>Nouveau coup</h1>

    {{ include('shot/_form.html.twig') }}

    {% if app.user %}
        <li><a href="/shot/new">nouveau trou</a></li>
        <li><a href="/">fin parcours</a></li>
        <li><a href="{{ path('shot_index') }}">liste</a></li>
    {% else %}
        <li><a href="{{ path('shot_index') }}">liste</a></li>
        <li><a href="/">retour accueil</a></li>
    {% endif %}
{% endblock %}
