{% extends 'base.html.twig' %}

{% block title %}Cross Golf{% endblock %}

{% block body %}
    <h1>Nouveau coup</h1>

    {{ include('shot/_form.html.twig') }}

    <a href="{{ path('shot_index') }}">back to list</a>
{% endblock %}
